#cartas {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

.carta {
    margin-bottom: 100px;
}

@media only screen and (max-width: 770px) {
  .carta{
    margin-bottom: 30px;
  }

}
  